<div class="d-flex flex-column">
  <button type="button" class="btn btn-success btn-md mb-2" (click)="onClickCash(1000)">Retirar 1.000</button>
  <button type="button" class="btn btn-success btn-md mb-2" (click)="onClickCash(2000)">Retirar 2.000</button>
  <button type="button" class="btn btn-success btn-md mb-2" (click)="onClickCash(3000)">Retirar 3.000</button>
  <button type="button" class="btn btn-success btn-md mb-2" (click)="onClickCash(4000)">Retirar 4.000</button>
  <button type="button" class="btn btn-success btn-md mb-2" (click)="onClickCash(5000)">Retirar 5.000</button>
  <button type="button" class="btn btn-success btn-md mb-2" (click)="onClickCash(6000)">Retirar 6.000</button>
  <button type="button" class="btn btn-success btn-md mb-2" (click)="onClickCash(7000)">Retirar 7.000</button>
</div>
